@use 'shared' as *;

/* Child globals overrides go here */
.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 40px;
    margin: 0 auto;

    @include down(md) {
        max-width: 100%;
        padding: 0 24px;
    }
}
