@use 'sass:map';
@use 'sass:list';
@use 'sass:selector';
@use 'variables' as v;

@mixin optional-at-root($sel) {
  @if & {
    @at-root #{selector.append(&, $sel)} {
      @content;
    }
  } @else {
    @at-root #{$sel} {
      @content;
    }
  }
}

// (1) Placeholders  
@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }

    @include optional-at-root(':-moz-placeholder') {
        @content;
    }

    @include optional-at-root('::-moz-placeholder') {
        @content;
    }

    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}

// (2) Media Queries
// Helper: get value by key
@function bp($key) {
    @return map.get(v.$breakpoints, $key);
}

// Up: min-width
@mixin up($key) {
    @media only screen and (min-width: #{bp($key)}) {
        @content;
    }
}

// Down: max-width
@mixin down($key) {
    @media only screen and (max-width: #{bp($key)}) {
        @content;
    }
}

// Between: range
@mixin between($start, $end) {
    @media (min-width: #{bp($start)}) and (max-width: #{bp($end) - 1px}) {
        @content;
    }
}

// Only: exact breakpoint range
@mixin only($key) {
    $next: null;
    $keys: map.keys(v.$breakpoints);
    $index: list.index($keys, $key);

    @if $index and $index < list.length($keys) {
    $next: list.nth($keys, $index + 1);
        @include between($key, $next) { @content; }
    } @else {
        @include up($key) { @content; }
    }
}

// (3) Misc
// Appearance reset (useful for buttons, inputs, etc)
@mixin btn-reset {
    padding: 0;
    margin: 0;

    border-radius: 0;
    border: none;
    
    background: none;
    appearance: none;
    -webkit-appearance: none;
}

// Pseudo elements basic initialization
@mixin pseudo-el {
    content: '';
    display: block;
}

// (4) Text stroke (using text-shadow)
@mixin text-shadow($color: #000, $size: 1px) {
    text-shadow:
      -#{$size} -#{$size} 0 $color,
       0        -#{$size} 0 $color,
       #{$size} -#{$size} 0 $color,
       #{$size}  0        0 $color,
       #{$size}  #{$size} 0 $color,
       0         #{$size} 0 $color,
      -#{$size}  #{$size} 0 $color,
      -#{$size}  0        0 $color;
}